@charset "utf-8";

div {
	box-sizing: border-box;
}

#content {
	background: rgba(255, 255, 255, 0.74);
}


@media all and (min-device-width: 980px) {
	body {
		padding-bottom: 60px;
		background-image: url(background.jpg);
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		background-size: cover;
		color: #464646;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	#content {
		background: rgba(54,54,54,0.86);
		background: -moz-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,54,54,0.86)), color-stop(24%, rgba(0,0,0,0.86)), color-stop(60%, rgba(17,17,17,0.86)), color-stop(76%, rgba(43,43,43,0.86)), color-stop(91%, rgba(28,28,28,0.86)), color-stop(100%, rgba(19,19,19,0.86)));
		background: -webkit-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -o-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -ms-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: linear-gradient(to bottom, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#131313', GradientType=0 );

		background: rgba(54,54,54,0.86);
		background: -moz-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,54,54,0.86)), color-stop(24%, rgba(0,0,0,0.86)), color-stop(60%, rgba(17,17,17,0.86)), color-stop(76%, rgba(43,43,43,0.86)), color-stop(91%, rgba(28,28,28,0.86)), color-stop(100%, rgba(19,19,19,0.86)));
		background: -webkit-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -o-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: -ms-linear-gradient(top, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		background: linear-gradient(to bottom, rgba(54,54,54,0.86) 0%, rgba(0,0,0,0.86) 24%, rgba(17,17,17,0.86) 60%, rgba(43,43,43,0.86) 76%, rgba(28,28,28,0.86) 91%, rgba(19,19,19,0.86) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#131313', GradientType=0 );

		-webkit-box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.68);
		-moz-box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.68);
		box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.68);

		height: 85vh;

		max-height: 100%;
		overflow: auto;

	}

	#logo {

		position: relative;
		height: 254px;
		width: 450px;
		left: 50%;
		margin: -0px 0 0 -225px;
	}

	#opis {

		position: relative;
		width: 800px;
		left: 50%;
		margin: -0px 0 0 -400px;
		font-size: 17px;
		line-height: 1.6;
		font-family: Calibri;
		color: #f5eedc;
		text-align: center;
		margin-bottom: 200px;
	}

	#firma {

		width: 980px;
		height: 400px;
		position: relative;
		left: 50%;
		margin: -0px 0 0 -490px;
		background-image: url(dane.png);
		margin-bottom: 200px;
	}

	#offerta {

		width: 1000px;
		height: 260px;
		position: relative;
		left: 50%;
		margin: -0px 0 0 -400px;
		font-size: 18px;
		line-height: 2;
		font-family: Calibri;
		color: #f5eedc;
		margin-bottom: 200px;
	}

	#tresc{

		width: 500px;
		height: 260px;
		float: left;
	}

	#world{

		width: 370px;
		height: 286px;
		background-image: url(world.png);
		float: left;	
		margin-left: 50px;
	}

	#form {

		width: 700px;
		margin: -0px 0 0 -350px;
		position: relative;
		left: 50%;
		margin-bottom: 200px;
	}

	#formularz{

		background-image: url(formularz.png);
		width: 650px;
		height: 80px;
		margin: -0px 0 0 -325px;
		position: relative;
		left: 50%;
		padding-bottom: 80px;
	}

	#szyfr{
		width: 600px;
		height: 40px;
		margin: -0px 0 0 -300px;
		left: 50%;
		position: relative;
	}

	#captcha{
		width: 120px;
		height: 40px;
		float: right;

		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	}

	input[type=text] {

    width: 600px;
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    margin: -0px 0 0 -300px;
    position: relative;
    left: 50%;

    background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.65)), color-stop(51%, rgba(209,209,209,0.64)), color-stop(100%, rgba(254,254,254,0.3)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;

	-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
	-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
	box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);

	color: black;
	font-family: Avenir Next, Calibri;
	font-size: 18px;
	}

	input[type=kod] {

    width: 460px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    margin: -0px 0 0 -300px;
    position: relative;
    left: 50%;

    background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.65)), color-stop(51%, rgba(209,209,209,0.64)), color-stop(100%, rgba(254,254,254,0.3)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;

	-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
	-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
	box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);

	color: black;
	font-family: Avenir Next, Calibri;
	font-size: 18px;
	}

	textarea {

		width: 600px;
		height: 200px;
		padding: 10px;
		margin-top: 10px;
		margin: -0px 0 0 -300px;
		position: relative;
		left: 50%;


	    background: rgba(226,226,226,1);
		background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.65)), color-stop(51%, rgba(209,209,209,0.64)), color-stop(100%, rgba(254,254,254,0.3)));
		background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
		background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
		background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
		background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.65) 50%, rgba(209,209,209,0.64) 51%, rgba(254,254,254,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 0px solid #000000;

		-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
		-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
		box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);

		color: black;
		font-family: "Avenir Next";
		font-size: 18px;
	}

	input[type=submit] {


	    width: 200px;
	    height: 40px;
	    margin: -0px 0 0 -100px;
	    position: relative;
	    left: 50%;
	    margin-top: 10px;

	    background: rgba(172,203,246,1);
		background: -moz-linear-gradient(top, rgba(172,203,246,1) 0%, rgba(97,165,255,0.81) 50%, rgba(5,122,255,0.81) 51%, rgba(172,203,246,0.62) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,203,246,1)), color-stop(50%, rgba(97,165,255,0.81)), color-stop(51%, rgba(5,122,255,0.81)), color-stop(100%, rgba(172,203,246,0.62)));
		background: -webkit-linear-gradient(top, rgba(172,203,246,1) 0%, rgba(97,165,255,0.81) 50%, rgba(5,122,255,0.81) 51%, rgba(172,203,246,0.62) 100%);
		background: -o-linear-gradient(top, rgba(172,203,246,1) 0%, rgba(97,165,255,0.81) 50%, rgba(5,122,255,0.81) 51%, rgba(172,203,246,0.62) 100%);
		background: -ms-linear-gradient(top, rgba(172,203,246,1) 0%, rgba(97,165,255,0.81) 50%, rgba(5,122,255,0.81) 51%, rgba(172,203,246,0.62) 100%);
		background: linear-gradient(to bottom, rgba(172,203,246,1) 0%, rgba(97,165,255,0.81) 50%, rgba(5,122,255,0.81) 51%, rgba(172,203,246,0.62) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accbf6', endColorstr='#accbf6', GradientType=0 );

		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 0px solid #000000;

		-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
		-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);
		box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.66);

		color: white;
		font-family: "Avenir Next";
		font-size: 18px;
	}

	::-webkit-input-placeholder { 
    	color: black;
    	font-size: 16px;
	}

	:-moz-placeholder { 
   		color: black;
   		opacity:  1;
	}

	::-moz-placeholder { 
   		color: black;
   		opacity:  1;
	}

	:-ms-input-placeholder { 
   		color: black;
	}

	#map {

		width: 100%;
		height: 400px;
	}

	#top_ {

		width: 100%;
		height: 60px;
	}

	#top {

		position: relative;
		height: 60px;
		width: 980px;
		left: 50%;
		margin: -0px 0 0 -490px;
		float: left;
	}

	#language {
		height: 60px;
		width: 60px;
		background-image: url(images/flag.png);
		float: right;
	}

	#language {
		height: 60px;
		width: 60px;
		background-image: url(images2/flag.png);
		float: right;
	}


	#top2 {
		float: left;
		height: 12px;
		width: 980px;
	}

	#l {
		float: left;
		height: 34px;
		width: 163px;
	}

	#onas {
		background-image: url(images/onas.png);
		float: left;
		height: 34px;
		width: 60px;
	}

	#onas2 {
		background-image: url(images2/onas.png);
		float: left;
		height: 34px;
		width: 60px;
	}

	#one {
		float: left;
		height: 34px;
		width: 24px;
	}
	
	#dane {
		background-image: url(images/dane.png);
		float: left;
		height: 34px;
		width: 121px;
	}

	#dane2 {
		background-image: url(images2/dane.png);
		float: left;
		height: 34px;
		width: 121px;
	}

	#two {
		float: left;
		height: 34px;
		width: 30px;
	}

	#oferta {
		background-image: url(images/oferta.png);
		float: left;
		height: 34px;
		width: 66px;
	}

	#oferta2 {
		background-image: url(images2/oferta.png);
		float: left;
		height: 34px;
		width: 66px;
	}

	#three {
		float: left;
		height: 34px;
		width: 26px;
	}

	#kontakt {
		background-image: url(images/kontakt.png);
		float: left;
		height: 34px;
		width: 191px;
	}

	#kontakt2 {
		background-image: url(images2/kontakt.png);
		float: left;
		height: 34px;
		width: 191px;
	}

	#four {
		float: left;
		height: 34px;
		width: 31px;
	}

	#lokalizacja {
		background-image: url(images/lokalizacja.png);
		float: left;
		height: 34px;
		width: 101px;
	}

	#lokalizacja2 {
		background-image: url(images2/lokalizacja.png);
		float: left;
		height: 34px;
		width: 101px;
	}

	#r {
		float: left;
		height: 34px;
		width: 167px;
	}

	#bottom {
		float: left;
		height: 14px;
		width: 980px;
	}
}